main {
    margin: 0 auto;
    width: 1200px;
}

main h1 {
    text-align: center;
    padding-left: 150px;
}

#mainCanvas {
    width: 920px;
    height: 620px;
}

aside {
    float: left;
    width: 260px;
}

.btn, #size, #color {
    background: #005f9e;
    background-image: -webkit-linear-gradient(top, #005f9e, #2772a1);
    background-image: -moz-linear-gradient(top, #005f9e, #2772a1);
    background-image: -ms-linear-gradient(top, #005f9e, #2772a1);
    background-image: -o-linear-gradient(top, #005f9e, #2772a1);
    background-image: linear-gradient(to bottom, #005f9e, #2772a1);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: 'Courier New';
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 240px;
    margin-bottom: 2px;
}

.btn:hover {
    background: #1d84c4;
    background-image: -webkit-linear-gradient(top, #1d84c4, #2a82bd);
    background-image: -moz-linear-gradient(top, #1d84c4, #2a82bd);
    background-image: -ms-linear-gradient(top, #1d84c4, #2a82bd);
    background-image: -o-linear-gradient(top, #1d84c4, #2a82bd);
    background-image: linear-gradient(to bottom, #1d84c4, #2a82bd);
    text-decoration: none;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 5px 10px;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}

label {
    font-family: 'Arial';
    font-size: 18px;
}
